html, body {padding: 0;margin: 0;height: 100%;}

body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto" ,sans-serif;
}

.header, .footer {
    display: flex;
    align-items: center;
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 18px;
    padding: 0px 80px
}

.header {
    justify-content: space-between;
    height: 52px;
}

.footer {
    justify-content: center;
}

.header h1 {
    margin: 0;
    padding: 0;
    color: #F9FAF8;
    font-size: 24px;
}

.menu {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap: 24px;
}

.menu li {
    margin: 0;
}

.main {
    padding: 40px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex:1 1 auto
}

.hero {
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 18px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.quote-pane{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    display: flex;
    justify-content: center;
    gap: 36px;
}

.item {
    text-align: center;
}

.item .photobox {
    height: 100px;
    width: 100px;
    border-radius: 10px;
    border: 5px solid #3882F6;
}

button {
    background-color: #3882F6;
    color: #E5E7EB;
    border: 2px solid #3882F6;
    border-radius: 4px;
    padding: 6px 12px;
}

.box {
    background-color: #3882F6;
    margin: 52px;
    border-radius: 16px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.box .instruction {
    color: #E5E7EB;
    font-size: 18px;
}

.box button {
    border-color: #E5E7EB;
}

.quote {
    font-style: italic;
    font-size: 24px;
    text-align: left;
}

.big-text,
.author {
    font-weight: 800;
    font-size: 24px;
}